{% extends '_base.html' %}

{% block title %}{{ resource.title }}{% endblock title %}

{% block content %}
    <div class="resource_detail">
        {% if resource.teaser_picture %}
            <img class="teaser_picture" src="{{ resource.teaser_picture.url }}" alt="{{ resource.title }}">
        {% endif %}
        <h2><a href="">{{ resource.title }}</a></h2>
        <p>Description: {{ resource.description }}</p>
        <p>Langue: {{ resource.language }}</p>
        <p>Lien: {{ resource.url }}</p>
        <div>
            <h3>Comments</h3>
            <ul>
                {% for comment in resource.comments.all %}
                <li>{{ comment.comment }} ({{ comment.author }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}